$background_color: #4285F4;

body {
    background-color: grey;
}

.search {
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

.center h1 {
    color: white;
    text-align: center;
    font-size: 80px;
    margin: 0;
}

.submit {
    @extend .search;
    width: 100px;
    align-items: center;
    background-color: white;
    margin-left: 35%;
    margin-top: 2%;
    background-color: $background_color;
    border: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav li {
    padding: 10px;
    border-radius: 10px;
    display: inline;
    background-color: $background_color;
}

a {
    text-decoration: none;
}

nav ul{
    right: 5%;
    position: absolute;
}

.submit, a{
    color: white;
}

input {
    border: 0px;
}